page-home {
    .content{
        background-color: rgb(253, 237, 237);
        text-align: center;
    }
    .header{
        text-align: center;
        text-indent: 15px;
        word-spacing: 150px;
    }
    h4{
        text-align: center;
    }
    .form{
        max-width: 35%;
        text-align: center;
    }

}
